@font-face {
  font-family: "poppins-light";
  src: url("../font/Poppins-Light.ttf");
}
@font-face {
  font-family: "poppins-bold";
  src: url("../font/Poppins-Bold.ttf");
}
@font-face {
  font-family: "poppins-medium";
  src: url("../font/Poppins-Medium.ttf");
}
@font-face {
  font-family: "arimo";
  src: url("../font/Arimo.ttf");
  font-weight: 400;
}
.star-ratings-block{
  margin-top: -5px;
}
.all-services-rates{
  margin-top: 30px;
}
.profile-details-info{
  display: flex;
}
.service-reviw-img{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}
.star-ratings {
  unicode-bidi: bidi-override;
  color: #ccc;
  font-size: 20px;
  position: relative;
  margin: 0;
  padding: 0;
  float: left;
  margin-right: 10px;
}
.rating-texts{
  font-size: 14px;
  position: relative;
  top: 4px;
}
.rates-of-service{
  border: 1px solid #000;
  text-decoration: none;
  color: #000000;
  padding: 10px 10px;
  font-size: 14px;
  border-radius: 50px;
}
.all-services{
  background-color: #000;
  color: #fff;
  text-decoration: none;
  padding: 10px 10px;
  margin-right: 8px;
  font-size: 14px;
  border-radius: 50px;
}
.star-ratings .fill-ratings {
  color: #e7711b;
  padding: 0;
  position: absolute;
  z-index: 1;
  display: block;
  top: 0;
  left: 0;
  overflow: hidden;
}
.star-ratings .fill-ratings span {
  display: inline-block;
}
.star-ratings .empty-ratings {
  padding: 0;
  display: block;
  z-index: 0;
}


/* file upload */
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.date-checking{
  margin-bottom: 0px;
  position: relative;
  top: 6px;
}
.sort-result-by{
  font-size: 16px;
  font-family: 'poppins-Bold';
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.collage-imgs img{
  width: 100%;
    object-fit: cover;
    height: 110px;
}
.single-result-sorted{
  padding: 20px 30px;
}
.glam-serches-results{
  padding: 30px 15%;
  text-align: center;
}
.profile-pic-22{
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
}
.date-checking i{
  margin-right: 10px;
}
.filters-applies{
  background-color: #000;
    color: #fff;
    border: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 14px;
    font-size: 14px;
    padding: 5px 10px;
}

.select-item-drop:focus{
  box-shadow:none !important
}
.custom-dropdown-checks input{
  float: right;
  position: relative;
  top: 5px;
}
.custom-dropdown-checks {
padding-top: 8px;
padding-bottom: 8px;
}
.custom-dropdown-ul{
  width: 200px;
}
#hiddenField{
  display: none;
}
.select-item-drop{
  background-color: transparent !important;
    border: 0 !important;
    width: 250px;
}
.dasdsa{
  background-color:red
}
.date-and-match button{
  color: #fff;
    border: 0;
    background-color: transparent;
}
.serach-form-innner{
  justify-content: center;
}
.serch-results-box{
  background-color: #C89883;
  padding: 15px 30px;
}
.search-forms-boxes{
  padding-top: 60px;
}
.filters-boxes{
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
.btn-file {
  border: 2px dotted gray;
  background-color: white;
  padding: 50px 100px;
  border-radius: 8px;
  font-size: 14px;
}
.serach-form-innner{
  display: flex;
}
.notification-alert{
  transform: scale(1);
    position: relative;
    top: 2px;
}
.location-modals{
  padding: 20px 20px;
}
.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.business-text{
  font-size: 20px;
  font-family: "poppins-bold";
  text-align: center;
}

.profile-pic {
    max-width: 200px;
    max-height: 200px;
    display: block;
}
.build-client-profile{
  background-color: #fff;
  padding: 20px 20px;
  max-width: 630px;
}
.file-upload {
    display: none;
}
.circle {
  position: relative;
  width: 120px;
  height: 120px;
  margin-left: auto;
  
  margin-right: auto;
}

.form-connections{
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 30px 30px;
}
.save-and-continues{
  width: 260px;
  color: #fff;
  background-color: #000;
  border: 0;
  margin-top: 20px;
  padding: 5px 10px;
}
.p-image {
  position: absolute;
  top: 30px;
  right: -5px;
  color: #FF6C2C;
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}
.p-image:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}
.upload-button {
  font-size: 1.2em;
}

.upload-button:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
  color: #999;
}
/* file upload end*/


.h-4-font {
  font-family: "poppins-medium";
}
.font-poppins-medium {
  font-family: "poppins-medium";
}
.font-popine-bold {
  font-family: "poppins-bold";
}
.getting-start-business {
  background-color: #000000;
  color: #ffff;
  padding: 10px 30px;
  text-decoration: none;
  font-family: "Poppins-Bold";
}
.back-header {
  background-color: #070707b3;
}
button,
select {
  outline: none !important;
}
.pt-60{
  padding-top: 60px;
}
ul li a {
  font-family: "poppins-medium";
}
.custom-header-link-li {
  padding: 0px 6px;
}
p {
  font-family: "arimo";
}
label {
  font-family: "poppins-medium";
}
.testimonial-blocks {
  width: 576px;
  margin-left: auto;
  margin-right: auto;
}
.testimonial-texts {
  position: absolute;
  width: 50%;
  text-align: center;
  top: 110px;
  left: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.account-setup-form{
  margin-top: -20px;
}
.name-of-businesses {
  position: absolute;
  bottom: 160px;
  font-size: 16px;
  right: 35px;
}
.account-form{
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 120px;
  padding-bottom: 120px;
}
.profile-tabs-li-btn{
  color: #9F9F9F;
  font-family: "poppins-bold";
}
.user-info-feild{
  font-family: "poppins-bold";
  font-size: 14px;
}
.user-info-feild span{
  font-family: "poppins-medium";
}
.profile-tabs-li-btn.active{
  border: 0;
  border-bottom: 4px solid #FF6C2C;
  border-color: #FF6C2C !important;
  color: #000;
}
.profile-tabs-li-btn:hover{
  border: 0;
  isolation: unset;
  color: #FF6C2C;
  border-bottom: 4px solid #FF6C2C;
}
.profile-tabs {
  border-width: 2px;
}
.signup-buttons {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 40px;
}
#agree-to-signup {
  transform: scale(1.5);
  accent-color: #ff6c2c;
  margin-right: 10px;
}
.navbar-toggler-icon-custom {
  background-image: url("../images/icons/burger-icon.svg") !important;
}
.custom-mobile-menu {
  color: #fff !important;
  border-color: #fff !important;
}
.footer-classes {
  background-color: #19191c;
  padding: 60px 0px;
}
.popolar-service-text{
  margin-top: -30px;
}
.popular-service-box-inner h6,.popular-service-box-inner p{
  color: #707070;
  margin-bottom: 0px;
}
.popular-service-box{
display: flex;
margin-bottom: 40px;
}
.service-pics img{
  width: 100%;
}
.popular-service-box-inner{

  margin-right: 30px;
}
.logo-footer {
  margin-top: 20px;
  width: 100px;
}
.see-timings-btn{
  height: 40px;
    width: 130px;
    border: 0;
    background-color: #B5B5B5;
    align-self: center;
    color: #707070;
}
.see-timings-btn.active{
    background-color: #000;
    color: #fff;
}
.content-footer {
  background-color: #24272e;
}

.quick-link-footer ul {
  padding-left: 0px;
  list-style: none;
}
.quick-link-footer ul li {
  padding-top: 3px;
  padding-bottom: 3px;
}

.quick-link-footer ul li a {
  color: #fff;
  text-decoration: none;
}
.social-icons li {
  display: inline-block;
  margin-right: 10px;
}
.social-icons a {
  padding: 3px 8px;
  border-radius: 4px;
}
img {
  max-width: 100%;
}
.mt-60 {
  margin-top: 60px;
}
.mb-60 {
  margin-bottom: 60px;
}
.mb-80 {
  margin-bottom: 80px;
}
.earn-more-box-1,
.earn-more-box-2 {
  text-align: center;
}
.earn-more-box-1 .img-box-setup,
.earn-more-box-2 .img-box-setup {
  width: 60px;
  margin-bottom: 40px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
}
.home-back-img {
  background-image: url("../images/home-page-back.png");
  background-color: #cccccc;
  height: 90vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}
.back-img-str {
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
.sign-up-back {
  background-image: url("../images/sign-up-back.png");
  height: 500px;
}
.accibility {
  background-image: url("../images/accibility.png");
  height: 500px;
}
.sign-up-back {
  background-image: url("../images/sign-up-back.png");
  height: 500px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.setup-business {
  background-image: url("../images/setup-business.png");
  background-position: bottom;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 130px;
  padding-bottom: 130px;
}
.create-profile-back {
  background-image: url("../images/create-profile.png");
  height: 700px;
}
.thank-you-text {
  display: flex;
  justify-content: center;
  height: 400px;
  align-items: center;
  text-align: center;
}
.thank-you-back {
  background-image: url("../images/thank-you.png");
  height: 400px;
  display: flex;
  justify-content: center;
}
.fasion-back-img {
  background-image: url("../images/we-love-back.png");
  height: 600px;
}
.contact-back-imgs {
  background-image: url("../images/contact-back.png");
  height: 100%;
}
.subcribe-back {
  background-image: url("../images/subcribe-back.png");
  height: auto;
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}
.subscribe-btns {
  background-color: #ff6c2c;
  border: 0px;
  padding: 10px 20px;
  border-radius: 50px;
  height: 50px;
  color: #ffff;
}
.sneakers-back {
  background-image: url("../images/sneakers-back.png");
  height: 200px;
  display: inline-grid;
}
.sneakers-2 {
  background-image: url("../images/banner-2.png");
  height: 200px;
  display: inline-grid;
}
.business-setup-box {
  text-align: center;
}
.this-years {
  font-size: 20px;
}
.text-doubles {
  font-size: 100px;
  font-family: "poppins-Light";
  margin-bottom: 0px;
}
.text-6D6967 {
  color: #6d6967;
}
.text-revinues {
  font-size: 26px;
  font-family: "poppins-light";
}
.knowledge-base-hrs hr {
  color: #ff6c2c;
  opacity: 1;
  margin-top: 3px;
  margin-bottom: 3px;
}
.knowledge-base-hrs p {
  margin-bottom: 0px;
}
.getting-records-helps {
  padding: 10px 5%;
  margin-top: 30px;
}
.reacord-box h5 {
  font-family: "poppins-bold";
  color: #24b6fe;
  margin-bottom: 20px;
}
.custom-tab-li h6 {
  font-family: "poppins-light";
  color: #000;
  margin-bottom: 0px;
}
.reacord-box ul {
  list-style: none;
}
.custom-tab-li button {
  width: 100%;
  border: 1px solid #000 !important;
  background-color: transparent !important;
  padding: 20px 20px;
}
.tab-btn-inner {
  display: flex;
}
.tab-btn-inner img {
  width: 40px;
  margin-right: 20px;
}
.tab-btn-inner p {
  margin-bottom: 0px;
  color: #000;
  text-align: left;
}
.custom-tab-li button.active h6 {
  color: #fff;
}
.custom-tab-li button.active p {
  text-align: left;
  color: #fff;
}

.custom-tab-li {
  flex: 1;
}
.custom-tab-li button.active {
  width: 100%;
  border: 1px solid #5eb6e1 !important;
  background-color: #5eb6e1 !important;
}
.reacord-box ul li {
  padding-bottom: 5px;
}
.reacord-box ul li a {
  color: #000;
  text-decoration: none;
}
.mackup-treatments-box img {
  padding-right: 15%;
}
.facial-treatment-box-ul {
  list-style: none;
}
.facial-treatment-box-ul li:before {
  content: "";
  display: inline-block;
  height: 10px;
  width: 20px;
  background-image: url("../images/icons/rose.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: -30px;
}
.reacord-box ul li:before {
  content: "";
  display: inline-block;
  height: 10px;
  width: 20px;
  background-image: url("../images/icons/rose.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: -30px;
}
.help-back {
  background-image: url("../images/help-back.png");
  height: 500px;
  display: flex;
  align-items: center;
  text-align: center;
}
.search-help-box-form {
  width: 70%;
}
.search-help-box-form button {
  border: 0px;
  height: 45px;
  width: 45px;
  background-color: #ff6c2c;
  color: #fff;
  position: relative;
  top: -1px;
  left: 1px;
}
.knowledge-container {
  background-color: #dff0f9;
  padding: 20px 40px;
}
.search-help-box-form input {
  height: 45px;
  margin-right: -50px;
  padding-right: 50px;
  width: calc(100% - 50px);
  border: 1px solid #ff6c2c;
  padding-left: 10px;
  border-radius: 4px;
}
.about-back {
  background-image: url("../images/about-back.png");
  height: 500px;
  display: flex;
  align-items: center;
  text-align: center;
}

.form-width-subcribe {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.subcribe-email {
  width: 300px;
  padding: 12px 15px;
  border-radius: 50px;
  border: 0;
  height: 50px;
  line-height: 50px;
}
.shop-back {
  background-image: url("../images/shop-back.png");
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.service-detail-back {
  background-image: url("../images/service-details.png");
  height: 800px;
  display: flex;
  align-items: center;
}
.service-back {
  background-image: url("../images/seevice-back.png");
  height: 800px;
  background-position: bottom;
  align-items: center;
  display: flex;
}
.home-salone-div {
  text-align: center;
  border: 1px solid #ff6c2c;
  padding: 15px 10px;
  border-radius: 15px;
  margin-bottom: 30px;
}
.specialist-box-div h6 {
  color: #9e9e9e;
  font-size: 14px;
  font-family: "poppins-medium";
}
.specialist-box-div h4 {
  margin-bottom: 20px;
  font-family: "Poppins-Bold";
}
.specialist-box-div h4 span {
  font-family: "Poppins-Light";
}
.specialist-box-div {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.cost-effect-div {
  display: flex;
}
.cost-effect-div img {
  width: 80px;
  height: 70px;
  margin-right: 40px;
}
.cost-effects-row {
  padding-left: 15%;
  padding-right: 15%;
  margin-bottom: 100px;
}
.home-salone-div img {
  width: 80px;
  height: 70px;
  margin-bottom: 10px;
}
.home-salone-div p {
  margin-top: 15px;
  font-size: 14px;
}
.profile-container {
  position: relative;
  top: -350px;
}
.profile-images {
  text-align: center;
  height: 120px;
}
.user-badges-inner img{
  background-color: #fff;
    padding: 8px 8px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.log-out-box{
  position: absolute;
  bottom: 10px;
  right: 20px;
}
.log-out-box a{
  color: #fff;
  text-decoration: none;
  font-family: "poppins-bold";
}
.log-out-box a:hover{
  color: #fff;
}
.badges-headings{
  padding: 0px 20px;
  margin-bottom: 0px;
}
.user-score-number span{
  font-size: 12px;
  margin-bottom: -3px;
}
.user-badges{
  padding: 0px 20px;
  margin-top: 10px;
  display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}
.user-badges-inner{
  display: inline-block;
  text-align: center;
  flex: 0 0 auto;
  width: 33.3333%;

}
.user-badges-inner p{
  font-size: 12px;
  color: #fff;
}
.side-user-info{
  padding: 0px 20px;
    text-align: center;
}
.user-score{
  padding: 0px 20px; 
  display: flex;
}
.user-score-number{
  display: grid;
  margin-right: 30px;
}
.show-serach-area {
  position: relative;
}
.start-service-box {
  text-align: right;
  align-self: center;
}
.sneaker-inner {
  padding-left: calc(10% + 15px);
  align-self: center;
  padding-right: calc(10% + 15px);
}
.start-services-btns {
  border: 1px solid #ffffff;
  background-color: transparent;
  color: #fff;
  padding: 10px 30px;
  border-radius: 4px;
}

.service-products {
  position: relative;
  top: -120px;
  margin-bottom: -70px;
}
.single-product-divs {
  text-align: center;
  position: relative;
}
.single-product-divs img {
  width: 100%;
}
.profile-images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.explore-more {
  border: 1px solid #ff6c2c;
  background-color: #fff;
  padding: 10px 25px;
  border-radius: 4px;
}
.rating-box {
  position: absolute;
  right: 10px;
  top: 5px;
  background-color: #0b6704;
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 12px;
  color: #fff;
}
.show-serach-area input {
  width: 100%;
  height: 50px;
  padding: 10px 60px 10px 10px;
  color: #5eb6e1;
  box-shadow: 0 0 31px 5px;
  border: 0;
}
.show-serach-area i {
  position: absolute;
  top: 20px;
  right: 20px;
}
.recommended-row {
  background-color: #f8f8f8;
  margin-left: -50px;
  margin-right: -50px;
  height: 260px;
  text-align: center;
  padding-top: 30px;
}
.hidden-profile-uplaod {
  display: none !important;
  visibility: hidden !important;
}
.profile-pic {
  width: 120px;
  height: 120px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto;
  border: 1px solid #707070;
}
.profile-pic-chech {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto;
  border: 1px solid #707070;
}
.profile-pic-1 {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto;
  border: 6px solid #fff;
  position: relative;
  top: -100px;
}
.form-inputs-contacts {
  width: 100%;

  border-radius: 4px;
  padding: 5px 5px;
  border: 1px solid #5eb6e1;
  background-color: transparent;
  color: #fff;
  margin-bottom: 20px;
}
.height-40 {
  height: 40px;
}
.top-lable-design-mobile {
  font-size: 14px;
  background-color: #fff;
  position: relative;
  left: 5px;
  top: 10px;
  padding: 0px 5px;
  z-index: 99;
}
.or-dividers {
  border: none;
  border-top: 1px double #707070;
  color: #333;
  overflow: visible;
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 40px;
}
.or-dividers:after {
  background: #fff;
  content: "OR";
  padding: 0 50px;
  position: relative;
  top: -13px;
}

.single-input-mobile {
  position: relative;
}
.single-input-mobile .iti {
  width: 100%;
  height: 50px;
}
.top-lable-design-input-mobile {
  width: 100%;
  height: 50px;
  border: 1px solid #ff6c2c;
}
.contact-form {
  padding: 10% 20% 10% 10%;
}
.back-light-blcak {
  background-color: #222224;
}
.find-top-img-text {
  background-color: #00000080;
  position: absolute;
  width: 100%;
  bottom: 0px;
  padding: 10px 10px;
  text-align: center;
}
.find-top-inner-box img {
  height: 100%;
  width: 100%;
}
.find-top-inner-box {
  position: relative;
  height: 100%;
}
.find-top {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}
.make-up-box {
  position: relative;
}
#header-com {
  position: absolute;
  width: 100%;
}
.inputs-book {
  position: relative;
}
.inputs-book i {
  position: absolute;
  top: 12px;
  left: 10px;
}
.find-and-book-inputs-form {
  display: flex;
}
.search-submit {
  border: 0px;
  height: 40px;
  width: 40px;
  color: #fff;
}
.input-with-icon {
  height: 40px;
  padding-left: 35px;
  width: 250px;
}
.are-you-better {
  margin-top: 25px;
  text-align: center;
}
.home-social-div {
  position: absolute;
  left: 0px;
  bottom: 60px;
  background-color: #f6f7fb;
}
.home-social-div ul {
  padding-left: 0px;
  list-style: none;
}
.home-social-div li {
  padding: 10px 15px;
  border-bottom: 1px solid #5eb6e1;
  bottom: 65px;
}
.home-social-div li:last-child {
  border-bottom: 0px solid #5eb6e1;
  padding-bottom: 0px !important;
  margin-bottom: -5px;
}
.custon-by-mackups-btn {
  background-color: #fff;
  padding: 6px 20px;
  color: #ff6c2c;
}
.make-up-inner {
  width: 100%;
  height: 50%;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
}
.natural-buety-box-page {
  height: 100%;
  display: flex;
  justify-content: left;
}
.natural-buety-box {
  align-self: center;
  width: 90%;
  text-align: left;
}
.hr-left {
  border-top: 2px solid #5eb6e1;
  opacity: 1;
  width: 70px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.text-light-gray {
  color: #9e9e9e;
}
.font-14 {
  font-size: 14px;
}
.contact-form-icon ul {
  padding-left: 0px;
  list-style: none;
}
.contact-form-icon ul li {
  display: inline-block;
  margin-right: 20px;
}
.natural-buety-icons img {
  width: 20px;
  margin-right: 10px;
}
.natural-buety-icons p {
  margin-right: 10px;
}
.natural-buety-box {
  align-self: center;
}
.we-love-text-box {
  position: absolute;
  top: 310px;
  padding-left: 45%;
}
.create-an-amonut {
  width: 700px;
  margin: 20px auto;
}
.create-text-center {
  text-align: center;
  margin-top: 80px;
}
.top-lable-design-input {
  width: 100%;
  height: 50px;
  border: 1px solid #ff6c2c;
  padding: 0px 10px;
}
.top-lable-design {
  font-size: 14px;
  background-color: #fff;
  position: relative;
  left: 5px;
  top: 10px;
  padding: 0px 5px;
}
.single-input {
  margin-top: 20px;
}
.text-black {
  color: #000;
}
.login-buttons {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 60px;
}
.social-icons {
  margin-top: 100px;
}
.facebook-btns {
  background-color: #3b5998;
  color: #fff;
  border: 0;
  border-radius: 50px;
  width: 48%;
  padding: 15px 10px;
  margin-right: 2%;
}
.gmail-btns {
  background-color: #fff;
  color: #000;
  border-radius: 50px;
  width: 47%;
  padding: 15px 10px;
  margin-left: 2%;
  border: 1px solid #f1584d;
}
.facebook-btns img {
  width: 14px;
  margin-right: 10px;
}
.gmail-btns img {
  width: 20px;
  margin-right: 10px;
}
.single-pro-column {
  position: relative;
  background-color: #f5f5f6;
  padding: 20px 15px 20px 15px;
  border-radius: 4px;
}
.single-pro-column img {
  width: 100%;
  margin-top: 20px;
  height: 100%;
}
.custom-link-active {
  border-bottom: 2px solid #5eb6e1;
  padding-bottom: 5px;
}

.offers-service-box {
  margin-bottom: 30px;
}
.offers-service-box img {
  width: 50px;
  height: 50px;
  margin-bottom: 30px;
}
.offers-service-box h6 {
  font-family: "poppins-bold";
}
.offers-service-box p {
  color: #808080;
  font-size: 14px;
}
.home-services-salon {
  text-align: center;
}
.home-services-salon img {
  width: 50px;
  height: 50px;
  margin-bottom: 30px;
}
.home-services-salon h6 {
  font-family: "Poppins-Light";
}
.home-services-salon p {
  font-family: "Poppins-Light";
  font-size: 12px;
}
.container-tabs {
  margin-bottom: 100px;
}
.how-is-work-box {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}
.how-is-work-box img {
  width: 60px;
}
.custom-rates h1 {
  font-family: "poppins-bold";
  color: #5eb6e1;
  font-size: 40px;
}
.card-icons {
  position: absolute;
  width: 30px;
  top: 42px;
  left: 10px;
}
.custom-rates span {
  color: #ff6c2c;
  font-size: 34px;
}
.custom-rates {
  position: absolute;
  right: 20px;
}
.payment-product-name {
  margin-bottom: 0px;
}
.customs-tabs {
  position: relative;
}
.how-is-work-box h6 {
  margin-top: 20px;
  font-family: "Poppins-Bold";
  margin-bottom: 20px;
}
.payments-months {
  width: 100%;
  height: 50px;
  border: 1px solid #ff6c2c;
  padding: 0px 10px;
}
.payments-dropdown {
  width: 100%;
  height: 50px;
  border: 1px solid #ff6c2c;
  padding: 0px 10px 0px 40px;
}
.dropdown-box-payments {
  position: relative;
}
.fc-toolbar-title {
  color: #58b79a;
}
.fc .fc-button-primary {
  background-color: #58b79a;
}
.fc .fc-button-primary:not(:disabled).fc-button-active {
  background-color: #ff6c2c;
}
.fc-col-header-cell {
  height: 40px;
  line-height: 40px;
  background-color: #e5e6e8;
}
.fc-col-header-cell a {
  height: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #272526;
}
.fc-h-event {
  background-color: #58b79a;
  border: 0px;
}
.fc-daygrid-day {
  position: relative;
}
.fc-daygrid-day-number {
  text-decoration: none;
  color: #000;
}
.fc-col-header-cell.fc-day-sun {
  background-color: #58b79a;
}
.fc-col-header-cell.fc-day-sat {
  background-color: #58b79a;
}
.fc-col-header-cell.fc-day-sun a,
.fc-col-header-cell.fc-day-sat a {
  color: #fff;
  text-decoration: none;
}
.fc-button:focus {
  box-shadow: none !important;
}
.main-with-sidenav {
  display: flex;
}
.side-navs-bars {
  width: 250px;
  background-color: #ff6c2c;
  margin-right: 50px;
  position: relative;
  top: -60px;
  min-height: 90vh;
}
/* #calendar {
  width: calc(100% - 300px);
} */
.calander-boxs{
  width: calc(100% - 300px);
}
.camera-icons {
  width: 60px !important;
  z-index: 99;
  object-fit: none !important;
  height: 60px !important;
  position: absolute;
  right: 0px;
  top: -30px;
}
.results-showing-in-list{
  height: 600px;
  overflow: auto;
  margin-right: 15px;
  margin-bottom: 20px;
}
.google-maps{
  width: 100%;
  height: 100%;
}
.results-showing-in-list::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px #5393FB;
	border-radius: 10px;
	background-color: #F5F5F5;
}

.results-showing-in-list::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.results-showing-in-list::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px  #5393FB;
	background-color:  #5393FB;
}
@media (max-width: 1400px) {
  .all-services {
    width: 100%;
    display: block;
    margin-bottom: 20px;
    text-align: center;
}
.rates-of-service {
  display: block;
  text-align: center;
}
}
@media (max-width: 1199px) {
  .filters-boxes {
    display: block;
    margin-top: 15px;
    text-align: center;
}
  .find-and-book-inputs-form {
    display: block;
}
  .find-and-book-inputs-form .search-submit {
    width: 100%;
}
  .find-and-book-inputs-form .input-with-icon {
    padding-left: 35px;
    width: 100%;
    margin-bottom: 10px;
}
  .cost-effects-row {
    padding-left: 0%;
    padding-right: 0%;
  }
}
@media (max-width: 992px) {
  .profile-details-info{
    margin-top: 30px;
  }
  .see-timings-btn {
    margin-top: 10px;
}
  .popular-services-box{
    text-align: center;
  }
  .popular-service-box-inner {
    margin-right: 0px;
}
.popular-service-box {
  display: block;
}
  .user-badges {
    padding: 20px 20px;
  }
  
.badges-headings {
    text-align: center;
}
.user-score {
  padding: 20px 20px;
  justify-content: center;
}
  .log-out-box {
    position: absolute;
    bottom: 10px;
    right: 0;
    left: 0;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}
  .user-badges-inner {
    width: 70px;
}
.user-badges {
  justify-content: center;
}
  .side-navs-bars {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 50px;
  }
  .main-with-sidenav {
    display: block;
  }
  
  .calander-boxs {
    width: calc(100% - 0px);
  }
  .offers-service-box {
    text-align: center;
  }
  .recommended-row {
    margin-left: -15px;
    margin-right: -15px;
  }
  button {
    font-size: 14px;
  }
  h5 {
    font-size: 16px;
  }
  p {
    font-size: 14px;
  }
  a {
    font-size: 14px;
  }
  .we-love-text-box {
    top: 70px;
  }
  .fasion-back-img {
    height: 300px;
  }
  .custom-navbar-collapse.show {
    background-color: #000;
    margin: -10px -10px;
    padding: 10px 10px;
    position: relative;
    top: 10px;
    z-index: 99;
  }
  .about-glam {
    text-align: center;
  }
  .quick-link-footer {
    text-align: center;
  }
  .contact-form {
    padding: 5% 5% 5% 5%;
  }
}
@media (max-width: 767px) {
  .google-maps{
    width: 100%;
    height: 600px;
  }
  .build-client-profile {
    max-width: 100%;
    margin-left: 20px;
    margin-right: 20px;
}
  .profile-pic-22{
    width: 120px !important;
    height: 120px !important;
  }
  .account-form {
    width: 100%;
}
  .about-us-bio{
    text-align: center;
  }
  .profile-tabs {
    display: block;
}
.profile-tabs-li-btn {
  border: 1px solid #9F9F9F !important;
  width: 100%;
}
.profile-tabs-li-btn.active {
  border-bottom: 0px solid #FF6C2C;
  background-color: #FF6C2C !important;
  color: #fff !important;
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px;
}

  .fc .fc-daygrid-more-link {
    font-size: 10px;
    position: absolute;
    bottom: -5px;
  }

  .earn-more-box-1 {
    margin-bottom: 30px;
  }
  .text-doubles {
    font-size: 50px;
  }
  .testimonial-blocks {
    width: 100%;
  }
  .payment-page {
    height: 300px;
  }
  .specialist-box-div {
    width: 100%;
  }
  .mackup-treatments-box img {
    padding-right: 0px;
    margin-bottom: 40px;
  }
  .facial-treatment-box {
    text-align: center;
  }
  .service-detail-back {
    height: 400px;
  }
  .custom-tab-li {
    flex: none;
    width: 100%;
    margin-bottom: 10px;
  }
  .service-back {
    height: 410px;
  }
  .cost-effect-div {
    display: block;
    text-align: center;
  }
  .cost-effect-div img {
    margin-right: 0px;
    margin-bottom: 15px;
  }

  .knowledge-container {
    padding: 20px 10px;
  }
  .search-help-box-form {
    width: 100%;
  }
  .search-for-help {
    text-align: center;
  }
  .form-width-subcribe {
    max-width: 100%;
  }
  .subscribe-btns {
    width: 100px;
  }
  .subcribe-email {
    width: calc(100% - 120px);
  }
  .sneakers-back {
    height: auto;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }
  .start-service-box {
    text-align: center;
    margin-top: 20px;
  }
  .thank-you-back {
    height: 300px;
  }
  .thank-you-text {
    height: 200px;
  }
  .create-profile-back {
    height: 450px;
  }
  .profile-images img {
    width: 100%;
  }
  .profile-pic {
    width: 250px;
    height: 250px;
  }
  .profile-container {
    top: -250px;
  }
  .login-buttons {
    margin-top: 20px;
  }
  .facebook-btns {
    width: 100%;
    margin-right: 0%;
    margin-bottom: 20px;
  }
  .gmail-btns {
    width: 100%;
    margin-left: 0px;
    margin-bottom: 20px;
  }
  .sign-up-back {
    height: 300px;
  }
  .create-an-amonut {
    width: 100%;
  }
  .natural-buety-icons span {
    display: block;
    text-align: center;
    height: 30px;
  }
  .natural-buety-icons {
    justify-content: center;
  }
  .natural-buety-icons img {
    width: 20px;
    display: block;
    margin: 0 auto;
  }
  .natural-buety-box {
    width: 100%;
    text-align: center;
  }
  .hr-left {
    margin-left: auto;
    margin-right: auto;
  }

  .we-love-text-box {
    position: relative;
    top: 70px;
    padding-left: 0px;
    text-align: center;
  }
  .mt-50-767 {
    margin-top: 50px;
  }
  .find-and-book-inputs-form {
    display: block;
  }
  .search-submit {
    width: 100%;
    margin-top: 1px;
  }
  .home-social-div {
    bottom: 90px;
  }
  .input-with-icon {
    width: 100%;
  }
  /* .email-form {
    width: 100%;
  } */
}

@media (max-width: 576px) {
  .build-client-profile {
    padding: 10px 5px;
}
  .form-connections {
    padding: 20px 10px;
}
  .btn-file {
    width: 100%;
    padding: 25px 50px;
}
  .upload-btn-wrapper {
    width: 100%;
}
  .fc-toolbar-title {
    margin-bottom: 10px !important;
  }
  .fc .fc-toolbar {
    display: block;
    text-align: center;
  }
  .fc .fc-daygrid-day-number {
    font-size: 12px;
    height: 50px;
    padding: 3px 1px;
  }
  .fc .fc-daygrid-more-link {
    font-size: 10px;
    position: absolute;
    bottom: 5px;
  }
  .fc-col-header-cell a {
    font-size: 12px;
  }
  .subcribe-email {
    width: calc(100% - 0px);
  }
  .subscribe-btns {
    width: 100%;
    margin-top: 10px;
  }
  .home-social-div {
    left: 0px;
    right: 0px;
    width: max-content;
    margin: 0 auto;
    bottom: 70px;
  }
  .home-social-div ul {
    margin-bottom: 0px;
  }
  .home-social-div li {
    display: inline-block;
    border-bottom: 0px solid #5eb6e1;
    border-left: 1px solid #5eb6e1;
  }
  .home-social-div li:last-child {
    padding-bottom: 10px !important;
  }
}
@media (max-width: 430px) {
  .testimonial-texts {
    top: 90px;
    left: 40px;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .name-of-businesses {
    bottom: 110px;
    font-size: 14px;
    right: 0;
    left: 0;
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }
}